#profile{
    border-right: 3px teal solid;
    position: fixed;
    height:100%;
}
.tab-feed{
    padding:100px;
}
.tab-main{
    margin-top: 20px;
}
.yours > a > i{
    color:black;
}
.yours > a{
    cursor: pointer;
    margin-left: 5%;
}