#profile{
    background-color: #1b6d85;
    height:100vh;
    color: white;
}
#profile *{
    margin-top: 5%;
}
.tab-feed{
    padding:50px;
}
.tab-main{
    margin-top: 20px;
}
.yours > a > i{
    color:black;
}
.yours > a{
    cursor: pointer;
    margin-left: 5%;
}
#image-profile{
    width: 150px;
}
#content-2{
    padding: 2%;
}
.user-edit{
    display: none;
    margin-top: 20%;
}
#profile .btn{
    width: 100%;
}
#rate i{
    cursor: pointer;
    color: black;
}
.story-container{
    margin-top: 5%;
    border-radius: 2%;
    border: 2px solid #0f0f0f;
    color: white;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    height:300px;
    background-color: #0F9E5E;
}
.story-container > div{
    display: flex;
    align-items: center;
    padding: 5%;
    width: 100%;
    flex-grow: 1;
    border-bottom: 1px solid #0f0f0f;
}
.story-container > div:nth-child(3){
    flex-grow: 3;
}