#profile{
    border-right: 3px teal solid;
    height:100vh;
}
#profile *{
    margin-top: 5%;
}
.tab-feed{
    padding:50px;
}
.tab-main{
    margin-top: 20px;
}
.yours > a > i{
    color:black;
}
.yours > a{
    cursor: pointer;
    margin-left: 5%;
}
#image-profile{
    width: 150px;
}
#container-tab{
    height:250px;
    overflow: auto;
}
.user-edit{
    display: none;
    margin-top: 20%;
}
#profile .btn{
    width: 100%;
}
#rate i{
    cursor: pointer;
    color: black;
}