body {
    margin: 0;
    padding: 0;
}
header{
    background-color: black;
    opacity:0.8;
}
a {
    color: #fff;
    text-decoration: none;
}
a:hover {
    color: #fff;
    text-decoration: none;
}
.fa{
    font-size: 20px !important;
    width: 100px;
 }
ul{
    list-style: none;
}
.ul-rss{
    text-align: center;
    margin-top: 1%;
}