body{
    margin:0;
    padding: 0;
    background:url("../img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

header{
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    border-bottom:3px solid black;
}
h1{
    color:#fff;
}