body{
    margin:0;
    padding: 0;
    background:url("../img/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}
header{
    background-color: black;
    opacity:0.8;
}
h1{
    color:#fff;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
.fa{
    font-size: 20px !important;
    width: 100px;
 }
ul{
    list-style: none;
}
.ul-rss{
    text-align: center;
    margin-top: 2%;
}